/****************************************************************************************/
/* Blog NASTOLATKI | kolor główny: #4e7eab #nastolatki*/

#nastolatki {
  a {
    color: #4e7eab;
    &:hover {
      color: #4e7eab;
    }
  }
  #content .post {
    .post_headline h2 {
      color: #4e7eab;
      a {
        color: #000000;
        &:hover {
          background-color: #4e7eab;
          color: #FFF;
        }
      }
    }
    .post_inner {
      background-color: #FFF;
      border-bottom: 3px solid #D8D8D8;
      a {
        color: #4e7eab;
        &:hover {
          background-color: #4e7eab;
          color: #FFF;
        }
      }
      span.ib a:hover, p.author a:hover {
        background-color: #4e7eab;
        color: #fff;
      }
      .read_more a {
        background: #4e7eab url('../img/arrows.gif') 92% 52% no-repeat;
        color: #FFF;
      }
    }
  }
  #sidebar .side_box .side_box_inner {
    ul {
      &.popular li a {
        strong {
          color: #4e7eab;
        }
        &:hover strong {
          background-color: #4e7eab;
          color: #FFF;
        }
      }
      &.tags li a:hover {
        background-color: #4e7eab;
        color: #FFF;
      }
    }
    .comment_area a:hover {
      background-color: #4e7eab;
      color: #FFF;
    }
  }
  #content {
    .post .post_inner .post_meta .categories span.cr a:hover {
      color: #4e7eab;
      background-color: #fff;
      text-decoration: none;
    }
    .post_links a:hover, .post_links2 a:hover, .single_comment a:hover {
      background-color: #4e7eab;
      color: #FFF;
    }
  }
  #sidebar .side_box .newsletter form .button, #extra .ideas_top form .button {
    background: #4e7eab;
  }
  #content .comment_form form .button .bordered {
    border-color: #4e7eab;
    background-color: #4e7eab;
    color: #FFF;
  }
  #sidebar .side_box .newsletter h3, .navigation li.current a {
    color: #4e7eab;
  }
  #item_4 {
    background-position: -580px 0;
  }
  .headerh a {
    background-position: 0 -226px;
    
    @media screen and ( max-width: $smartphone_portrait + px ) {
        background-position: 0 -170px;
        height: 38px; 
    }
  }
  .illustration_area {
    background: url('../img/girls.png') -580px 0 no-repeat;
    display: block;
    height: 185px;
    width: 145px;
    position: absolute;
    bottom: 39px;
    left: 0;
  }
  #header form .button {
    border: 1px solid #4e7eab;
    background: #4e7eab url('../img/button_bg_nastolatki.gif') 0 0 repeat-x;
  }
  #related_posts a {
    &.previous {
      background-image: url('../img/previous_icon_nastolatki.gif');
      left: 12px;
    }
    &.next {
      background-image: url('../img/next_icon_nastolatki.gif');
      right: 12px;
    }
  }
  #footer ul li a {
    color: #4e7eab;
  }
  #content .pagination {
    ul li {
      &.current a, a:hover {
        border-color: #4e7eab;
        background: #4e7eab !important;
        color: #FFF;
      }
      &.previous a {
        background: url('../img/previous_icon_small.gif') 9px center no-repeat;
      }
      &.next a {
        background: url('../img/next_icon_small.gif') 91% center no-repeat;
      }
    }
    * {
      display: block;
      float: left;
      color: #4e7eab;
    }
  }
}

/*
#nastolatki #content .post .post_inner .read_more a {color:#fff;}
#nastolatki #content .post .post_inner .read_more a:hover {color:#fff;}
*/
/*kolorystyka tekstu linku nizej posta*/
/*kolorystyka tekstu linku wyzej posta*/
/*link czytaj wiecej*/

/*tagi*/

/*linki w komentarzach*/

/*newsletter zapisz sie button*/
/*szukaj button*/
/*button dodaj komentarz*/
/*napis newsletter*/

/*wybrany link aktywnej strony*/
/*obrazek kobiety dolaczony do linku*/
/*logo dolaczone do linku*/
/*obrazek dolaczony do linku*/

/*button szukaj*/

/*slider strzalki*/
/*stopka kolory linkow*/

/*
#nastolatki #content .pagination ul li a {
	border:4px solid #ccc;
	//height:20px;
}
*/