
$c-black:      #363b42;

$c-blue:       #62d4d6;

$c-gray:       #787c82;
$c-gray2:      #e9eaeb;
$c-gray3:      #bcc0c4;
$c-gray4:      #afadae;
$c-gray5:      #f0efef;
$c-gray6:      #888d8e;
$c-gray7:      #d5d5d5;
$c-gray8:      #85868a;

$c-red:        #ff0000;

$c-violet:     #9c9bd9;

$c-yellow:     #f0cb1f;



$c-primary:    $c-black;
